* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}


/* #abx {
    background: yellow;
    width: 200px;
    height: 200px;
} */

#toggle {
    position: fixed;
    top: 50%;
    right: 0;
    width: 60px;
    height: 60px;
    /* border-radius: 20px; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(3, 3, 3, 0.692);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cyan;
    transform: translateY(-5px);
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cyan;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
    right: 300px;
    transition: 0.5s;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: yellow;
    transition: 0.5s;
}

#sidebar.active {
    right: 0px;
}

#sidebar ul {
    position: relative;
    margin-top: 50px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}

#sidebar ul li:hover {
    background: violet;
}

#sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.show {
    right: 0px !important;
}


/* RightArrow on & off */

#RightArrow {
    cursor: pointer;
    /* background-color: rgba(33, 128, 252, 0.918); */
    ;
}

#RightArrow.active {
    cursor: pointer;
    transform: rotate(90deg);
    background-color: rgba(33, 128, 252, 0.918);
    color: #ffff;
    border: none;
}


/* sidebar-02 start */

#sidebar-02 {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100%;
    background: red;
    transition: 0.5s;
}

.show-02 {
    bottom: 0;
    height: 200px !important;
}

#toggle-02 {
    position: fixed;
    bottom: 0;
    width: 60px;
    left: 50%;
    height: 60px;
    /* border-radius: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(3, 3, 3, 0.692);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#toggle-02.active {
    bottom: 200px;
    cursor: pointer;
}


/* toggle animation star and off */

#toggle-02::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cyan;
    transform: translateY(-5px);
}

#toggle-02::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cyan;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle-02.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle-02.active::after {
    transform: translateY(0px) rotate(-45deg);
}